
body{
    padding-top: 100px;
    text-align:center;
text-decoration: underline;
}

h3{
    color:red;
}

#contain{
    padding-bottom: 150px;
}

.thumbnail:active {
    position: relative;
  color: #424242; 
  opacity: 1;
  transform: scale(5);
  -webkit-transform: scale(5); /* Safari and Chrome */
 
 
}